venv/
.venv/
__pycache__/
*.pyc

models/
mlruns/
/node_modules

.env

.ipynb_checkpoints/

.DS_Store

# Docker archives
*.tar

# Python
__pycache__/
*.pyc

# Logs
logs/

# MLflow
mlruns/
mlflow.db

# Artifacts
artifacts/

# Models
models/

# Node
node_modules/

# Environment
.env